<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <%= link_to "Show all", restaurants_path, class: "navbar-brand" %>
      <%= link_to "+ New Restaurant", new_restaurant_path, class: "nav-item nav-link btn btn-outline-secondary btn-sm" %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
